*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.link{
	font-size: 20px;
	color: #000;
	text-decoration: none;
	margin: 16px;
	transition: 0.3s;
}

.link:hover{
	color: #0087e2;
	transition: 0.3s;
}

.aparecer{
	margin-left: 100%;
	transition: 3s all;
}
